.homeContainer{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-rows: 30% ,70%;
    row-gap: 20px;

}
.homeContainer .headerPart{
    width: 100vw;
    height: 90px;
    background: linear-gradient(to right,red,blue);    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.searchContainer{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    color: black;
    padding: 15px;
    font-size: 16px;
}
.homeContainer .searchContainer>input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    padding: 15px;
    font-size: 16px;
    
}
